.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(17, 17, 17, 0.9));
  }
  .details{
    padding: 0 0 2.5rem 2.5rem;
  }

.swipper-h{
    height: 70vh;
    overflow: hidden;

}
.slide-h{
    height: 70vh;
    overflow: hidden;
    position: relative;
}

/* .overlay::before{
    top: 50% !important;
    transform: translateY(-50%) scale(.8);
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    border-radius: 4px;
    box-shadow: inset 0 -3em 3em rgb(63, 63, 63);
    opacity: .5;
} */
@media screen and (max-width: 860px) {
    .swipper-h{
        height: 60vw;
    }
    .slide-h{
        height: 60vw;
    }
    .details{
        padding: 0 0 .7rem .7rem;
      }
    .mBottom{
        margin-bottom: 1rem;
    }
    .padding-sm{
        padding: 1.5rem;
    }
    .scrollable-row {
        overflow-x: auto;
        white-space: nowrap;
      }
      .scrollable-container {
        display: inline-flex;
      }
      .scrollable-item {
        flex: 0 0 auto;
        margin-right: 10px; /* Adjust spacing between cards */
        display: inline-block; /* Ensure items stay inline */
        vertical-align: top; /* Align items to the top */
      }
      .col-small{
        width: 50%;
      }

}