.dropdown-position {
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 1000; /* Ensure dropdown appears above other content */
}
.customBorder li:not(:last-child) {
    border-bottom: 1px solid black;
    
}