@import '../node_modules/bootstrap/dist/css/bootstrap.css';
body{
    font-family: "Poppins", sans-serif;
}
input:focus,textarea:focus,select:focus{
    outline: 0 !important;
    box-shadow: none !important;
}
main{
    min-height: 90vh;
}
/* .bg-black{
    background-color: black;
} */